

#vid1{
position:absolute;
left:100px;
top:50px;
z-index:0;
} 

#vid2a{
position:absolute;
left:100px;
top:50px;
z-index:-1;
} 

#vid2b{
position:absolute;
left:100px;
top:50px;
z-index:-2;
} 

#vid3{
position:absolute;
left:100px;
top:50px;
z-index:-3;
} 

#yesno{
position:absolute;
left:100px;
top:50px;
z-index:-5;
opacity: 0.5;
} 